doctype html
head
  meta(charset='utf-8')
  title Why JavaScript? - Doncho Minkov - SoftUni
  meta(name='description' content='Why JavaScript - Doncho Minkov - SoftUni')
  meta(name='author' content='Doncho Minkov')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(rel='stylesheet' href='/static/css/reveal.css')
  link#theme(rel='stylesheet' href='/static/css/theme/white.css')
  link(rel='stylesheet' href='/static/css/doncho-minkov.css')
  link(rel='stylesheet' href='/static/css/theme/github-gist.css')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
.reveal
  #slides-container.slides
    section(data-markdown='')
script.
    var presentationName = '#{name}'
script(src='/static/js/animations.js')
script(src='/static/js/main.js')
script(src='/static/js/parse.js')
script(src='/static/lib/js/head.min.js')
script(src='/static/js/reveal.js')
script(src='/static/js/setup.js')
